{% extends "coffee/base.html" %}

{% block content %}
<style>
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 80%;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

.list-group-item-text
{
    margin: 0 0 11px;
}

.item {
   height: 400px;
}

</style>

 <!-- Page header -->
 <div class="page-header">
    <h1>Our Coffees<small> </small></h1>
 </div>

 <div id="products" class="row list-group">
    {% csrf_token %}
    {% if coffee_list %}
    {% for coffee in coffee_list %}
     <div class="item col-xs-4 col-lg-4" style="text-align: center;">
         <div class="thumbnail">
             <img class="group list-group-image" src="{{ coffee.roaster.image.url }}" alt="" width="220" height="120"/>
             <div class="caption">
                 <h4 class="group inner list-group-item-heading">{{ coffee.name }}</h4>
                 <br />
                 <p style="text-align: left;">
                    <i>Origin:</i> {{ coffee.origin }}<br />
                    {% if coffee.region %}
                    <i>Region:</i> {{ coffee.region }}<br />
                    {% endif %}
                    {% if coffee.varietal %}
                    <i>Varietal:</i> {{ coffee.varietal }}<br />
                    {% endif %}
                    {% if coffee.process %}
                    <i>Process:</i> {{ coffee.process }}<br />
                    {% endif %}
                    {% if coffee.tasting_notes %}
                    <i>Tasting Notes:</i> {{ coffee.tasting_notes }}<br />
                    {% endif %}
                 </p>
                 <!-- <div class="row" style="text-align: center;">
                     <div class="col-xs-12 col-md-6">
                     </div>
                 </div> -->
                 <a class="btn btn-success" href="{% url 'coffee_details' coffee.id %}">View Details</a>

             </div>
         </div>
     </div>
     {% endfor %}
     {% else %}
      <p>No coffees available.</p>
     {% endif %}
 </div>

 {% endblock %}
