{% extends "coffee/base.html" %}
{% load staticfiles %}

{% block content %}
<style>
.main {
   padding-left: 20px;
}
</style>

<div class="page-header">
   <h1>Your Coffee Recommnedation<small> Based on your flavor profile</small></h1>
   <!-- <h1></h1> -->

</div>

<div>

<div class="main">
   <p>Your most recent survey: {{ survey.completed }}</p>

   <p>
     <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
       View Results
     </a>
     <a href="{% url 'survey' %}" class="btn btn-primary btn-lg" role="button">Retake the survey</a>
   </p>
   <div class="collapse" id="collapseExample">
     <div class="card card-block">
        {% for ans in survey.answer_set.all %}
         {{ans.question.question_text}}   <i>{{ ans.answer.choice_text }}</i><br/>
         {% endfor %}

     </div>
   </div>
   <br />

   <h3>Your flavor profile: </h3>
   <body>
   </body>
   {{modifiers}}

</div> <!-- main -->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'coffee/js/tastingwheel.js' %}" type="text/javascript"></script>
<script type="text/javascript">
wheel("{{modifiers}}")
printStuff("lol")
</script>



{% endblock %}
