{% extends "coffee/base.html" %}
{% load staticfiles %}

{% block content %}
<style>
   form {
      padding-left: 40px;
   }

   .active {
      opacity: 1;
   }
   .inactive {
      opacity: 0.2
   }
   .stayActive {
      opacity: 1;
   }

   input[type=range] {
      width: 40%;
   }

   svg {
      display:block;
      margin:auto;
   }

</style>

 <!-- Page header -->
 <div class="page-header">
    <h1>Record your tasting<small></small></h1>
 </div>

<h4>Brew info:</h4>
<form action="{% url 'taste' %}" method="post" onsubmit="getData()" class="tastingData">
 {% csrf_token %}
   <div class="row">
      <div class="col-md-6">
            <table class="table">
               <tr>
                <th>Method</th>
                <td>
                   <select class="form-control" id="coffee" title="Select a coffee" name="coffee" required>
                      <option disabled selected>Select a coffee</option>
                      {% for c in coffees %}
                          {% if c.name == recommendation.name %}
                          <option style="background-color: #A1D490;">{{ c.name }} - {{ c.roaster.name }}</option>
                          {% else %}
                         <option>{{ c.name }} - {{ c.roaster.name }}</option>
                         {% endif %}
                      {% endfor %}
                   </select>
                </td>
              </tr>
              <tr>
                <th>Coffee</th>
                <td>
                   <select class="form-control" id="brewmethod" name="brewmethod" required>
                      <option disabled selected>Select a brew method</option>
                      {% for method in brew_methods %}
                         <option>{{ method.name }}</option>
                      {% endfor %}
                   </select>
                </td>
              </tr>
              <tr>
                 <th>Amount</th>
                 <td>
                   <input type="text" id="grams_coffee" name="grams_coffee" placeholder="Grams" required>
                 </td>
              </tr>
              <tr>
                <th>Water (g)</th>
                <td>
                   <input type="text" id="grams_water" name="grams_water" placeholder="Grams" required>
                </td>
              </tr>
              <tr>
                <th>Temperature</th>
                <td>
                   <input type="text" id="water_temp" name="water_temp" placeholder="degrees F"required>
                </td>
              </tr>
              <tr>
                <th>Grind</th>
                <td>
                   <input type="text" id="grind_setting" name="grind_setting" placeholder="Optional">
                </td>
              </tr>
              <tr>
                <th>Brew time</th>
                <td>
                   <input type="text" id="brew_time" name="brew_time" placeholder="Optional">
                </td>
              </tr>
            </table>
      </div>
      <div class="col-md-6">
           <h3>Need some help?</h3>
           <p>Not sure where to start on your brew? Check out the resources below!</p>
           <table class="table table-striped">
              <tr>
                <td><a href="https://www.sweetmarias.com">Sweet Maria's</a></td>
                <td><i>Information on home roasting and brewing</i></td>
              </tr>
              <tr>
                <td><a href="http://www.scaa.org">SCAA</a></td>
                <td><i>Specialty Coffee Association of America</a></td>
              </tr>
              <tr>
                <td><a href="www.reddit.com/r/coffee">Reddit /r/Coffee</a></td>
                <td><i>Subreddit for discussion of coffee brewing, equipment, roasting, etc</i>
              </tr>
              <tr>
                <td><a href="https://bluebottlecoffee.com/preparation-guides">Blue Bottle Brewing Guides</a></td>
                <td><i>Blue Bottle's great collection of simple brewing guides.</i>
              </tr>
              <tr>
                <td><a href="https://www.stumptowncoffee.com/brew-guides/">Stumptown Brewing Guides</a></td>
                <td><i>More great brewing guides from Stumptown Coffee</td>
              </tr>
           </table>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12 center-block">
         <h3>Flavors</h3>
         <p>Figuring out what you're tasting in a coffee can be difficult. Right after brewing, try and identify
         what you're smelling from the coffee (higher temperatures allow for better aromatics). Once the coffee has cooled,
         spend some time thinking about the taste- optimal tasting temperature is around 160F. </p>
         <div class="tastingwheel"></div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12 center-block attributes">
         <h3>Attributes</h3>
         <p>
            There's more to a cup than just its flavor.
         </p>
         <div id="chart"></div>
      </div>
   </div>


   <div class="row">
      <div class="col-lg-12 text-center" style="padding-bottom: 20px; padding-top:30px;">
         <input class="btn btn-primary btn-lg" type="submit" value="Save"/>
      </div>
   </div>
</form>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'coffee/js/interactivewheel.js' %}" type="text/javascript"></script>
<script src="{% static 'coffee/js/radarChart.js' %}" type="text/javascript"></script>
<script src="{% static 'coffee/js/taste.js' %}" type="text/javascript"></script>

<script>

//Options for the Radar chart, other than default
var mycfg = {
  h: 600,
  maxValue: 0.6,
  levels: 5,
  ExtraWidthX: 300,
  maxValue: 1
}

RadarChart.draw("#chart", d, mycfg);
</script>



{% endblock %}
